.companyContainer {
  background-image: none !important;
  position: relative;
  z-index: 1;
}

.companyContainer::before {
  content: none !important;
}

.companyContainer .bgNoise {
  display: none !important;
}